.new-message__row {
    display: flex;
    gap: 32px;
}
.new-message__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.new-message__group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.new-message__label {
    font-size: 14px;
    font-weight: 700;
    color: #4a4a4a;
    text-transform: uppercase;
}
.new-message__input {
    padding: 8px;
    border: none;
    border-bottom: 1px solid #4a4a4a;
    border-radius: 0;
}
.new-message__submit {
    width: fit-content;
    margin: 0 auto;
    padding: 4px 24px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: rgb(0, 60, 90);
    border: 2px solid rgb(0, 60, 90);
    transition: all 0.3s;
    cursor: pointer;
}
.new-message__submit:hover {
    color: rgb(0, 60, 90);
    background-color: white
}
.new-message__selected {
    width: 50%;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 16px;
    height: 350px;
    overflow: auto;
}
.new-message__search-heading-row {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: grey;
    margin: 16px 0 0;
    gap: 8px;
}
.new-message__search-heading {
    font-size: 18px;
    font-weight: 700;
    color: white;
    flex-shrink: 0;
}
.new-message__search {
    width: 100%;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    height: 36px;
    display: flex;
}
.new-message__search__type {
    height: 100%;
    background-color: #4a4a4a;
    color: white;
    font-weight: 700;
    padding: 4px;
}
.new-message__search__input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 6px;
}
.new-message__search__input:focus {
    outline-color: transparent;
}
.new-message__options {
    width: 100%;
    height: 400px;
    overflow: auto;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 8px 16px;
}
.new-message__filter {
    width: 50%;
}
.new-message__filter--full {
    width: 100%;
}
.new-message__bulk {
    height: auto;
    width: 50%;
    margin-top: 16px;
    border: 0;
    border-radius: 0;;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.25);
    padding: 16px;
}
.new-message__bulk:focus {
    outline-color: transparent;
}
.new-message__option {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.15);
    padding: 8px;
    margin: 8px 0;
    user-select: none;
}
.new-message__option__type {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
}
.new-message__option__title {

}
.new-message__option--product {
    background-color: rgba(0, 80, 160, 0.15);
}
.new-message__option--brand {
    background-color: rgba(160, 109, 0, 0.15);
}
.new-message__option--variants {
    background-color: rgba(255, 68, 0, 0.15)
}
.new-message__heading {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
}